.App {
  text-align: center;
  min-height: 100vh;
  background: #dad299;
  background: -webkit-linear-gradient(to bottom, #b0dab9, #dad299);
  background: linear-gradient(to bottom, #b0dab9, #dad299);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "header"
    "drop_down"
    "main";
}

.Main {
  grid-area: main;
  max-height: 80vh;
  max-width: 100vw;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
.reviewCard {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: yellow 2px solid;
  width: 50%;
  height: 40%;
  max-width: 100%;
  max-height: 50%;
  display: grid;
  grid-template: 100%/70% 30%;
  grid-template-areas: "reviewImg reviewName";
}
.reviewCardImg {
  border-radius: 15px;
  grid-area: reviewImg;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.reviewsInfo {
  grid-area: reviewName;
  text-align: left;
  padding-left: 10px;
  overflow: scroll;
}

.Single {
  padding: 10px;
  grid-area: main;
  max-height: 80vh;
  overflow: scroll;
  display: grid;
  grid-template: 70% 10% 20%/60% 40%;
  grid-template-areas:
    "Picture news"
    "Picture comment"
    "comments comments";
  justify-items: stretch;
  text-align: center;
}
.SinglePicture {
  border-radius: 15px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  grid-area: Picture;
}
.SingleReviewsInfo {
  overflow: scroll;
}
.SingleInfo {
  margin: 10px;
  text-align: justify;
  grid-area: news;
}
.commentArea {
  padding-left: 10px;
  grid-area: comment;
  object-fit: cover;
  display: flex;
}
.CommentInput {
  border-radius: 10px;
}
.commentBtn {
  border-radius: 10px;
  margin-left: 5px;
}

.CommentsBox {
  text-align: center;
  border-radius: 0% 15px 15px 15px;
  border: yellow solid 2px;
  min-width: 50%;
  margin: 2%;
}

.CommentBoxArea {
  grid-area: comments;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
.warning {
  color: red;
}
.CommentBoxArea fieldset {
  border-radius: inherit;
}
.Name {
  color: #b0dab9;
}
